<section>
  <div class="container">
    <p id="welcome-message">
      Welcome to the Tech Blog! Checkout these existing blog posts!
    </p>
  </div>
  <!-- Loop over each object in the projects array -->
  <div>
    {{#each blogs as |blog| }}
    <div class="row mb-4 project">
      <div class="col-md-5">
        <h2>
          <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>

        <p>Created by {{user.username}} on {{format_date blog.created_at}}</p>
      </div>
    </div>
    <div class="col-md-7">
      <p>
        {{blog.body}}
      </p>
    </div>
  </div>
  {{/each}}
</section>